<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook" style="color: #0091ff;"></i>
            <i class="fa-brands fa-instagram" style="color: #ff1f80;"></i>
            <i class="fa-brands fa-linkedin" style="color: #003b99;"></i>
        </div>
        <div>&copy;StayNest Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>