body{
    font-family: "Baloo Bhai 2", sans-serif !important;
}
/* Navbar */
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-building-user{
    color: black;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
/* Footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5rem;
    background-color: aliceblue;
    font-size: 1.2rem;
    
}
.f-info-socials{
    display: flex;
    padding-top: 5px;
    gap: 10px;
    font-size: 1.1rem;
}
.f-info-links{
    font-size: 0.9rem;
}

/* Cards  */
.card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 0.7rem !important;
    width: 100%;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important; 
}
.card-text p{
    font-weight: 400 !important;
}